<div class="profile">
  <div class="profile-picture">
    <%= image_tag "https://ui-avatars.com/api/?name=#{user.name}&background=random", alt: "profile" %>
  </div>
  <div class="profile-details">
    <h6 class="profile-details-name"><%= user.name.capitalize %></h6>
    <div class="posts_counter">Number of posts:<%= user.posts.size %></div>
  </div>
</div>
