<div class="profile">
  <div class="profile-picture">
    <%= image_tag 'https://i.pravatar.cc/150?img=2', alt: "profile" %>
  </div>
  <div class="profile-details">
    <h6 class="profile-details-name"><%= "user #{user}".capitalize %></h6>
    <div class="posts-counter">Number of posts: 3</div>
  </div>
</div>
