<div class="profile-container">
  <%= render partial: "user_card", locals: { user: @author_id } %>
  <div class="bio">
    <h5 class="bio-heading">Bio</h5>
    <p class="bio-text">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
      when an unknown printer took a galley of type and scrambled it to make a type
      specimen book. It has survived not only five centuries, but also the leap into 
      electronic typesetting, remaining essentially unchanged. It was popularised in 
    </p>
  </div>
  <ul class="post-list">
    <% (1..3).each do |p| %>
      <li class="post-item">
        <%= link_to user_post_path(@author_id, p) do %>
          <%= render partial: "posts/post_card", locals: { post: p } %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= link_to "See all posts", user_posts_path(@author_id), class: "link btn" %>
</div>
