<header>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <%= link_to "New post", user_post_new_path(current_user.id), class: "nav-link" %>
      </li>
    </ul>
  </nav>
</header