<header>
  <nav class="nav">
    <ul class="nav-list">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "New post", new_post_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, class: "nav-link logout", method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
