<div class="like-container">
  <% if post.likes.exists?(author_id: current_user.id) %>
    <b class= "liked">Liked by you</b>
  <% else %>
    <%= form_with url: post_like_create_path(post.id) do |form| %>
      <%= form.submit "Like", class: "like btn" %>
    <% end %>
  <% end %>
</div>