<div class="post">
  <h5 class="post-title"><%= "Post #{post.title.capitalize}" %></h5>
  <p class="post-text">
    <%= post.text.truncate(22) %> 
  </p>
  <div class="likes-comments-counter">
    <span>Comments: 2</span>, <span>Likes: 2</span>
  </div>
</div>
