<div class="post">
  <h5 class="post-title"><%= "Post #{post}" %></h5>
  <p class="post-text">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum...
  </p>
  <div class="likes-comments-counter">
    <span>Comments: 2</span>, <span>Likes: 2</span>
  </div>
</div>
