<li class="post-comment-item">
  <%= link_to user_post_path(@user.id, post) do %>
    <%= render partial: "post_card", locals: { post: post } %>
  <% end %>
  <ul class="comment-list">
    <% (1..3).each do |comment| %>
      <li class="comment-item">
        <span class="comment-item-user"><%= "User #{comment}" %>:  </span>
        <span class="comment-item-comment"><%= "Comment #{comment}" %> </span>
      </li>
    <% end %>
  </ul>
</li>