<div class="profile-container">
  <%= render partial: "users/user_card", locals: { user: @user } %>
    <ul class="post-comment">
      <% @posts.each do |p| %>
        <%= render partial: "post_with_comment_card", locals: { post: p } %>
      <% end %>
    </ul>
  <button class="btn">Pagination</button>
</div>
