<div class="form-container">
  <%= form_with url: user_post_create_path, model: @post do |f| %>
    <h6 class="form-header">Create new post</h6>
    <div class="field">
      <%= f.text_field :title, class: "input", required: true, placeholder: "Title", value: nil %>
    </div>
    <div class="field">
      <%= f.text_area :text, size: "60x10", required: true, placeholder: "Write text here...", value: nil, class: "text_area" %>
    </div>
    <%= f.submit class: "btn" %>
  <% end %>
</div>